body
	@import: "font"

// Variables

$bgcolour: #DEDEDE
$bgcolourmain: #38A18C

// Mixins

@mixin flexing()
	display: flex
	flex-wrap: wrap
	justify-content: center

// Header

header
	text-align: center
	background-color: $bgcolour
	height: 100px
	font-size: 20px

	a
		text-decoration: none

	h2
		color: #E78448

// Nav Bar

nav
	background-color: $bgcolour
	margin: 0px 20px 1px 20px
	color: white
	border-radius: 25px
	padding: 5px 0px 0px 30px

ul
	list-style-type: none
	margin: 0px
	padding: 5px
	text-decoration: none

nav li
	display: inline

nav a
	display: inline-block
	padding: 10px
	color: white
	text-decoration: none


nav a:hover
	background-color: darkgrey

// Employees


#content
	@include flexing
	text-align: center
	background-color: $bgcolourmain
	height: 400px
		
	figure
		width: 250px
		height: 250px
		margin: 50px
		text-align: center

		img
			width: 500px
			max-width: 100%

figcaption
	color: white

h3
	text-align: center
	color: #2E4451
	font-size: 30px
	@include flexing

// Quotation

#quotation
	background-color: $bgcolourmain	
	height: 200px

	label
		line-height: 50px 

// Buttons

#button1
	background-color: $bgcolour
	height: 100px
	text-align: center

	.button
		line-height: 80px

button
	border: 1px
	border-color: #2E4451
	font-color: #2E4451

#button2
	background-color: $bgcolour
	height: 100px

	.button
		border: 1px
		border-color: black
		font-color: #2E4451
		line-height: 50px


//usage of extend was not considered useful for this CodeReview. 